[submodule "contracts/pkregistry/lib/forge-std"]
	path = contracts/pkregistry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/model_registry/lib/forge-std"]
	path = contracts/model_registry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
