[submodule "contracts/pk_registry/lib/forge-std"]
	path = contracts/pk_registry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/model_registry/lib/forge-std"]
	path = contracts/model_registry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/global_model_registry/lib/forge-std"]
	path = contracts/global_model_registry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
